spring:
  application:
    name: TripShorts-BE
  datasource:
    url: jdbc:mysql://localhost:3306/tripshorts
    username: {userName}
    password: {userPassword}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

    security:
        oauth2:
          client:
            registration:
              kakao:
                client-id: ${KAKAO_CLIENT_ID:REST_API_KEY}
                client-secret: ${KAKAO_CLIENT_SECRET:your_client_secret}
                redirect-uri: ${KAKAO_REDIRECT_URI:http://localhost:8080}/login/oauth2/code/kakao
                authorization-grant-type: authorization_code
                client-authentication-method: client_secret_post
                scope:
                  - profile_nickname
                  - account_email
                  - profile_image
            provider:
              kakao:
                authorization-uri: https://kauth.kakao.com/oauth/authorize
                token-uri: https://kauth.kakao.com/oauth/token
                user-info-uri: https://kapi.kakao.com/v2/user/me
                user-name-attribute: id

    jwt:
      secret: ${JWT_SECRET_KEY:your_jwt_secret_key}
      access-token-validity: 3600000 # 1시간
      refresh-token-validity: 604800000 # 7일

server:
  port: 8080